.page {
  font-family: 'Source Code Pro', monospace;
  width: 350px;
  height: 500px;
}

#article_title {
  font-size: 30px;
}

#intro {
}

.question{

}

.answer{

}

#block_quote {

}
